node_modules/

.env
.env.local

dist/
build/
.output/

.cache/

# Logs
*.log
logs/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
jsj.js
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

output.css
*.css.map